<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find HD15)/urdf/HD15.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
    <param name="use_gui" value="true"/>
  <!-- <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher"> 
   </node> -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find HD15)/urdf.rviz" />
</launch>
